.footer {
    border-top: 5px solid #222831;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    flex-direction: column;
    color: #222831;
}

.link {
    transition: all .2s;
    display: inline-block;
    color: #222831;
}

.link:hover,
.link:active,
.link:focus {
	outline-color: #0018F8;
	color: #fff;
	background: #0018F8;
	box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
	transform: scale(1.3);
}

@media screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
        padding: 0 2%;
    }
}