.wrapper {
	background-color: #eee;
	color: #393e46;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(2, min-content);
}

.search {
	width: 80%;
    justify-self: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 17px;
	font-size: 17px;
	margin-top: 5vh;
}

.list {
	grid-row: 2 / -1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.beer {
	background-color: #eee;
	color: #393e46;
	width: 100vw;
	display: grid;
  grid-template-columns: 145px 1fr;
	grid-template-rows: repeat(4, min-content);
	margin-bottom: 3vh;
	padding: 2vw 2vw 2vw 0;
}

.img {
	height: 200px;
	grid-row: 1 / -1;
	align-self: self-start;
	justify-self: center;
	margin-top: 6vh;
}

.button {
  background-color: #d65a31;
	padding: 10px 20px;
	display: inline-block;
	width: max-content;
	text-decoration: none;
	color: #eee;
	transition: all .2s;
}

.button:hover {
	filter: brightness(85%);
}

@media screen and (min-width: 700px) {
	.beer {
		width: 47vw;
	}
}

@media screen and (min-width: 1000px) {
	.beer {
		width: 31vw;
	}
}